<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The navigation menu -->
<nav class="navbar sticky-top">


  <a routerLink="/intro"routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-fw fa-home"></i>Home</a>
  <a href="#" routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}" ><i class="fa fa-address-book-o" aria-hidden="true"></i> About</a>
  <a href="#" routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-whatsapp" aria-hidden="true"></i> Contact</a>
  <a routerLink="/projects" routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-keyboard-o" aria-hidden="true"></i> Projects</a>


</nav>


<!-- The social media icon bar -->
<div class="icon-bar">
  <a href="https://www.instagram.com/iryna_tretynyk/" class="instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/iryna-tretynyk-0020511aa/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://github.com/kefa4520" class="github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
</div>
