
<link rel="stylesheet" href="https://kit.fontawesome.com/a076d05399.js">
<div class="background">
  <app-nav-bar>loading error</app-nav-bar>
  <div class="main">
      <div class="text">
      <h1 class="up">Iryna</h1>
      <h3>Full Stack Java Engineer</h3>
      <p>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</p>
      <q class="below">Perfection is achieved not when there is nothing more to add, but rather when there is nothing more to take away</q>
      <p class="author">&mdash; Antoine de Saint-Exupery (on code refactoring<i class="fa fa-smile-o" aria-hidden="true"></i>)</p>
    </div>
  </div>

  <div class="card-columns">
    <div class="card">
      <img src="assets/img/comp.jpg" class="card-img-top" alt="computer">
      <div class="content">
        <h5 class="card-title"><i class="fa fa-file-code-o" aria-hidden="true" ></i>   Software Development</h5>
        <p class="card-text">Develop new and enhance existing client-server Java applications using Spring Boot and RESTful web services.</p>
      </div>
    </div>


    <div class="card">
      <img src="assets/img/db.jpg" class="card-img-top" alt="db">
      <div class="content">
        <h5 class="card-title"><i class="fa fa-database" aria-hidden="true" ></i>   Relational Databases</h5>
        <p class="card-text">Design multi-table relational database and implement SQL and embedded SQL using JDBC, JPA, and Hibernate.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/front.jpg" class="card-img-top" alt="frontend">
      <div class="content">
        <h5 class="card-title"><i class="fa fa-html5" aria-hidden="true"></i>   Front End Development</h5>
        <p class="card-text">Utilize a variety of markup languages to structure web pages ensuring web design is optimized for smartphones.</p>
      </div>
    </div>

  </div>

  <div class="card-columns">
    <div class="card">
      <img src="assets/img/innovation.jpg" class="card-img-top" alt="innovation">
      <div class="content">
        <h5 class="card-title"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>   Innovative Ideas</h5>
        <p class="card-text">Create positive and unique customer experience by adding new demension to applications using novel and practical ideas.</p>
      </div>
    </div>


    <div class="card">
      <img src="assets/img/test.jpg" class="card-img-top" alt="test">
      <div class="content">
        <h5 class="card-title"><i class="fa fa-bug" aria-hidden="true"></i> TDD</h5>
        <p class="card-text">Following Test-Driven Development life-cycle develop and enhance Java programs implementing jUnit tests.</p>
      </div>
    </div>
  </div>

</div>
