<div class="cards">
  <app-nav-bar>loading error</app-nav-bar>
<div class="card-deck">
  <div class="card">
   <a href="https://github.com/kefa4520/FinalProject" target="_blank"><img src="assets/img/snitch.png" class="card-img-top" alt="snitch"></a>
   <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> -->
      <p class="card-text">This is an application that uses Spring REST C.R.U.D. API and helps users report problems</p>
    </div>
  </div>
  <div class="card">
    <a href="https://github.com/kefa4520/FinalProject" target="_blank"><img src="assets/img/videostore.png" class="card-img-top" alt="snitch"></a>
    <div class="card-body">
       <!-- <h5 class="card-title">Card title</h5> -->
       <p class="card-text">Spring MVC application allowing users to manage film/actor database.</p>
     </div>
   </div>
   <div class="card">
    <a href="https://github.com/kefa4520/FinalProject" target="_blank"><img src="assets/img/morebetter.png" class="card-img-top" alt="snitch"></a>
    <div class="card-body">
       <!-- <h5 class="card-title">Card title</h5> -->
       <p class="card-text">Spring Boot MVC application for a community of likeminded people who value self improvement.</p>
     </div>
   </div>
</div>
</div>
